---
// src/components/HeaderLink.astro
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
  href={href}
  class:list={[
    className,
    'inline-block text-black border-b-4',
    { 'font-bold border-accent': isActive, 'border-transparent hover:underline': !isActive },
  ]}
  {...props}
>
  <slot />
</a>
