---
import HeaderLink from './HeaderLink.astro';
---

<header class="p-4 bg-white shadow-md">
  <nav class="flex items-center justify-between">
    <h2 class="text-lg">
      <a href="/" class="text-black hover:text-accent">Home</a>
    </h2>
    <div class="flex space-x-4 ml-auto mr-auto">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
